body {
    background-image: linear-gradient(to bottom right, #4B57A1 0%, #231942 50%, #231942 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#main {
    background-image: url('images/laurie-a-bientot.png');
    background-size: auto 100%, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    height: 100vh;
}
@media (max-width: 768px) {
    #main {
        background-image: unset;
        background-size: unset;
        background-repeat: unset;
        background-attachment: unset;
        background-position: unset;
        height: unset;
    }
}
