/********************** Police *******************/
@font-face {
    font-family: 'FuturaLT-Bold';
    src: url('fonts/FuturaLT-Bold.eot'); /* EOT */
    src: url('fonts/FuturaLT-Bold.woff2') format('woff2'),
    url('fonts/FuturaLT-Bold.woff') format('woff'),
    url('fonts/FuturaLT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Condensed';
    src: url('fonts/FuturaLT-Condensed.eot'); /* EOT */
    src: url('fonts/FuturaLT-Condensed.woff2') format('woff2'),
    url('fonts/FuturaLT-Condensed.woff') format('woff'),
    url('fonts/FuturaLT-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedOblique';
    src: url('fonts/FuturaLT-CondensedOblique.eot'); /* EOT */
    src: url('fonts/FuturaLT-CondensedOblique.woff2') format('woff2'),
    url('fonts/FuturaLT-CondensedOblique.woff') format('woff'),
    url('fonts/FuturaLT-CondensedOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.bold {
    font-family: 'FuturaLT-Bold', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #4B57A1 0%, #231942 50%, #231942 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'FuturaLT-Condensed', sans-serif;
}
#main {
    background-image: url('images/laurie-a-bientot.png');
    background-size: auto 100%, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    height: 98vh;
}

.flex {
    display: flex;
}
.desktop-nav {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-left: 40px;
    margin-right: 40px;
}

.menu-item {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 40px;
}
.social-networks {
    align-items: center;
}
.social-network {
    padding-right: 18px;
}

.burger-svg {
    height: 20px;
}
.mobile-nav {
    display: none;
}
.social-networks-mobile {
    display: none;
}
.mobile-container {
    display: none;
}
@media (max-width: 1000px) {
    #main {
        background-image: unset;
        background-size: unset;
        background-repeat: unset;
        background-attachment: unset;
        background-position: unset;
        height: unset;
    }
    .main-mobile {
        background-image: url('images/laurie-mobile.png');
        background-size: auto 100%, cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        height: 80vh;
    }
    .desktop-nav {
        display: none;
    }
    .social-networks-mobile {
        display: flex;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        color: #EFB8C8;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 15px;
        margin-top: 20px;
    }
    .mobile-container {
        display: block;
    }
    .title-mobile {
        color: #D9D9D9;
        text-align: center;
    }
}
@media (max-width: 410px) {
    .menu-title {
        display: none;
    }
}